@model  IEnumerable<LeaveApproval>
@{
    ViewBag.Title = "Leaveapproval";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>



<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
     <th>Leave requested by</th>
    <th>Leave From</th>
    <th>Leave To</th>
    <th>Leave Type</th>
    <th>Number of days</th>
    <th>Leave Description</th>
  </tr>
   </thead>
    <tbody>
        @foreach (LeaveApproval leaveapproval in Model)
        {
            <tr>
               @if(@leaveapproval.leavedecision=="pending"){
              <td>@leaveapproval.userid</td>
                <td>@leaveapproval.leavefrom</td>
                <td>@leaveapproval.leaveto</td>
                <td>@leaveapproval.leavetype</td>
                <td>@leaveapproval.numberofdays</td>
                <td>@leaveapproval.descripition</td>
                <td>
                 
                <a asp-route-id="@leaveapproval.leaveid" asp-action="update" asp-controller="Leave">
                        Update
                    </a>
                
                
                </td>
                <td>
                 
                <a asp-route-userid="@leaveapproval.userid" asp-action="EmployeeLeavesummary" asp-controller="Leave">
                        Viewleave
                    </a>
                
                
                </td>
               }
            </tr>
        }
    </tbody>
  
</table>

</body>
</html>



